/Scripts/app/app.js
/Scripts/views/testView.js
/.vs/typescript-test/v14/.suo
/bin/typescript-test.dll
/bin/typescript-test.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/typescript-test.csproj.FileListAbsolute.txt
/obj/Debug/typescript-test.dll
/obj/Debug/typescript-test.pdb
