/Scripts/app/app.js
/Scripts/views/testView.js
/.vs/typescript-test/v14/.suo
/bin/typescript-test.dll
/bin/typescript-test.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/typescript-test.csproj.FileListAbsolute.txt
/obj/Debug/typescript-test.dll
/obj/Debug/typescript-test.pdb
/typescript-test-2/src/typescript-test-2/Scripts/app.js
/typescript-test-2/src/typescript-test-2/Scripts/views/testView.js
/typescript-test-2/src/typescript-test-2/node_modules
/bin
/typescript-test-2/src/typescript-test-2/bin
/typescript-test-2/src/typescript-test-2/obj
/typescript-test-2/src/typescript-test-2/Scripts/app.js.map
/typescript-test-2/src/typescript-test-2/Scripts/views/testView.js.map
/typescript-test-2/src/typescript-test-2/wwwroot/main.js
